/****** Filters ***********/

.filterbar {
    display: flex;
    align-items: center;
    gap: 1em;
}
.filters {
    display: flex;
    gap: 1em;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filterbar {
        flex-direction: column;
        align-items: start;
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /****** Filters ***********/
    .filterbar {
        gap: 20px;
        width: 100%;
    }
    .filters {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}
